<div class="container py-4 px-3 mx-auto">
  <div class="row">
    <div class="col p-3">
        <ngb-alert [type]="alert.type" (closed)="close(alert)">https://{{url}}</ngb-alert>
      <form>
        <div class="row">
          <div class="col p-3">
            <label for="urlBase" class="form-label">URL Base</label>
          </div>
          <div class="col p-3">
            <input type="text" class="form-control" id="urlBase" aria-describedby="urlBaseHelp">
            <div id="urlBaseHelp" class="form-text">https://</div>
          </div>
        </div>
        <div class="row">
          <div class="col p-3">
            <label for="cuit" class="form-label">CUIT</label>
          </div>
          <div class="col p-3">
            <input type="text" class="form-control" id="cuit">
            <div id="cuitHelp" class="form-text">id=</div>
          </div>
        </div>
        <div class="row">
          <div class="col p-3">
            <label for="gender" class="form-label">Genero</label>
          </div>
          <div class="col p-3">
            <input type="text" class="form-control" id="gender">
            <div id="cuitHelp" class="form-text">gender=</div>
          </div>
        </div>
        <div class="row">
          <div class="col p-3">
            <label for="userId" class="form-label">userId</label>
          </div>
          <div class="col p-3">
            <input type="text" class="form-control" id="userId">
            <div id="cuitHelp" class="form-text">userId=</div>
          </div>
        </div>
        <div class="row">
          <div class="col p-3"></div>
        </div>
        <div class="row">
          <div class="col p-3">
            <label class="form-label" id="url">
              
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (onClick)="submit()">Submit</button>
      </form>
    </div>
  </div>
</div>